@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");

:root {
  --font-primary: "Cairo", sans-serif;
}

/* Add utility if needed */
.font-cairo {
  font-family: var(--font-primary);
}
body {
  font-family: var(--font-primary);
  @apply bg-slate-100 text-white overflow-hidden h-screen max-w-xl m-auto;
}
